.contacts-container {
    display: flex;
    flex-wrap: wrap;
    /* margin: auto; */
    
    
}
body{
    background-color: palevioletred;
    text-align: center;
   /* background-color: aqua; */
}
    h1{
        margin:2px;
      
        background-color: rgb(255, 0, 187);
        color: rgb(255, 255, 255);
    }
    .card{
        background-color: aliceblue;
    height: 450px;
    width:200px;
    border: 3px solid  rgb(255, 0, 4);
    /* display: block; */
    
    /* margin-left: 17px; */
    margin: auto;
    margin-bottom: 15px;
}
img{
    display: block;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    /* width: 100px; */
    border: 3px solid red;
    border-radius: 50%;
}
a{
    color:rgb(255, 0, 187);
    
}
p{
    font-size: 15px;
}
/* .card img { height: 100px; }
img{
